.item-container {
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-width: 0;
  align-items: start;
  text-decoration: none;
  color: black;
  width: 400px;
  align-items:center;
}

.item-photo {
  align-items: center;
  width: 300px;
  border-radius: 10px;
}

.item-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.item-span-key {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.item-image-text {
  position: relative;
}

.item-image-text h3 {
  position: absolute;
  bottom: 2px;
  left: 4px;
}